<html>
<head>
    <title>Client Information</title>
</head>
<body>
<h1>Client Information</h1>
<a href="/client/add">Add New Client Information</a> <br />

<br />

<table border="6">
    <tr><th>Client Email</th><th>Client Name</th><th>Address</th><th>Action</th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td><a href="/client/?email=<%= result[i].email%>"><%= result[i].email%></a></td>
        <td><%= result[i].first_name + ' ' + result[i].last_name%>
        <td><%= result[i].address%>

        <td>
            <button onclick="event.preventDefault();window.location.href='/client/edit2/?email=<%= result[i].email %>'">Edit</button>
            <form action="/client_info/delete/">
                <input type="hidden" name="email" id="email" value="<%= result[i].email %>" />
                <input type="submit" value="Delete"/>
            </form>
        </td>
    </tr>
    <% } %>
</table>
</body>

</html>