<html>
<head>
    <title>Client Information - <%= result[0].email %></title>
</head>
<body>
<h1>Client Information</h1>
<ul>
    <li>Email: <%= result[0].email%></li>
    <li>First Name: <%= result[0].first_name %></li>
    <li>Last Name: <%= result[0].last_name %></li>
    <li>Address: <%= result[0].address %></li>
</ul>
</body>

</html>