html>
<head>
    <title>Trip Flight</title>
</head>
<body>
<h1>Trip Flight</h1>
<a href="/tripflight/add">Add New Trip Flight</a> <br />

<br />

<table border="6">
    <tr><th>Country Name</th><th>Flight Number</th><th>Action</th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td><a href="/tripflight/?country_name=<%= result[i].country_name%>"><%= result[i].country_name%></a></td>
        <td><%= result[i].flight_id%>

        <td>
            <button onclick="event.preventDefault();window.location.href='/tripflight/edit2/?country_name=<%= result[i].country_name %>'">Edit</button>
            <form action="/tripflight/delete/">
                <input type="hidden" name="country_name" id="country_name" value="<%= result[i].country_name %>" />
                <input type="submit" value="Delete"/>
            </form>
        </td>
    </tr>
    <% } %>
</table>
</body>

</html>