<html>
<head>
    <title>Update <%= airline.airline_name%></title>
</head>
<body>
<h1>Update <%= travel.agency_name%></h1>
<form action="/travel/update" method="get">
    <input type="hidden" id="email" name="email" value="<%= travel.email %>">
    Agency Name: <input id="agency_name" name="agency_name" type="text" value="<%= travel.agency_name%>"/>
    <br />
    <br />
    Address
    <select id="address_id" name="address_id">
        <% for(var i=0; address.length > i; i++ ) {
            var selected = "";
            if(address[i].address_id == travel.email) {
                selected = "selected";
            }
        %>
        <option value="<%= address[i].address_id %>" <%= selected %>><%= address[i].street + ', ' + address[i].zip_code %></option>
        <% } %>
    </select>

    <br />

    <input type="submit" />

</form>
</body>

</html>