<html>
<head>
    <!--<title>Travel Agencies - <%= result[0].email %></title>-->
    <title>Travel Agencies - <%= result[0].agency_name %></title>
</head>
<body>
<h1>Travel Agencies</h1>
<ul>
    <li>Email: <%= result[0].email%></li>
    <li>Agency Name: <%= result[0].agency_name %></li>
    <li>Address: <%= result[0].address %></li>
</ul>
</body>

</html>