<html>
<head>
    <title>Flight - <%= result[0].arrival_city %></title>
</head>
<body>
<h1>Flight</h1>
<ul>
    <li>Arrival City: <%= result[0].arrival_city %></li>
    <li>Departure City: <%= result[0].departure_city %></li>
    <li>Price: <%= result[0].price %></li>
    <li>Arrival Time: <%= result[0].arrival_time %></li>
    <li>Departure Time: <%= result[0].departure_time %></li>
</ul>
</body>

</html>