<html>
<head>
    <title>Flight</title>
</head>
<body>
<h1>Flight</h1>
<a href="/flight/add">Add New Flight</a> <br />

<br />

<table border="6">
    <tr><th>Arrival City</th><th>Departure City</th><th>Price</th><th>Departure Time</th><th>Arrival Time</th><th>Action</th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td><a href="/flight/?arrival_city=<%= result[i].arrival_city%>"><%= result[i].arrival_city%></a></td>
        <td><%= result[i].departure_city%>
        <td><%= result[i].price%>
        <td><%= result[i].arrival_time%>
        <td><%= result[i].departure_time%>

        <td>
            <button onclick="event.preventDefault();window.location.href='/flight/edit2/?arrival_city=<%= result[i].arrival_city %>'">Edit</button>
            <form action="/flight/delete/">
                <input type="hidden" name="arrival_city" id="arrival_city" value="<%= result[i].arrival_city %>" />
                <input type="submit" value="Delete"/>
            </form>
        </td>
    </tr>
    <% } %>
</table>
</body>

</html>