<html>
<head>
    <title>Update <%= flight.arrival_city%></title>
</head>
<body>
<h1>Update <%= flight.arrival_city%></h1>
<form action="/flight/update" method="get">
    <input type="hidden" id="arrival_city" name="arrival_city" value="<%= flight.arrival_city %>">
    Departure City: <input id="flight_id" name="flight_id" type="text" value="<%= flight.flight_id%>"/>
    <br />
    <br />
    Flight ID: <input id="flight_id" name="flight_id" type="text" value=<%="flight.flight_id"%>

    <br />

    <input type="submit" />

</form>
</body>

</html>