<html>
<head>
    <title>Update <%= company.agency_name%></title>
</head>
<body>
<h1>Update <%= travel.agency_name%></h1>
<form action="/travel/update" method="get">
    <input type="hidden" id="email" name="email" value="<%= travel.email %>">
    Agency Name: <input id="agency_name" name="agency_name" type="text" value="<%= travel.agency_name%>"/>
    <br />
    <br />
    Address: <input id="address" name="address" type="text" value="<%= travel.address%>"/>
    <select id="address" name="address">


    </select>

    <br />

    <input type="submit" />

</form>
</body>

</html>